<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}" /> 
    <title>Document</title>
</head>
<body>

    <main>
        <h1 class="maincontainer">Bienvenido {{session ['user.nombre']}}!</h1>
        <h2> Tu User ID: {{ session ['user.id_usuario'] }}</h2> 
        <div> <!-- class="btn-group mr-4" -->
            <form action="/sala/nueva">
                <input type="submit" value="Agregar Sala"/>
            </form>
            <form action="/logout" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>

        <div class='tbl-content'>
            
            <table class="table">
                <h2>MIS SALAS</h2>
                <thead class="tbl_header">
                    
                    <td>SALA</td>
                    <td>DESCRIPCIÓN</td>
                    <td>USUARIO</td>
                    <td class="opciones">OPCIONES</td>
                </thead>

                <tbody>
                    {% for sala in salas %}
                    <tr>
                        {% if sala.id_usuario == session['user.id_usuario'] %}
                        <td>{{ sala.nombre_sala }}</td>
                        <td>{{ sala.descripcion }}</td>
                        <td>{{ sala.nombre }}</td>
                        <td>
                            <a href="/sala/{{sala.id_sala}}" class="btn btn-warning">Descripción</a>
                            <a href="/sala/editar/{{sala.id_sala}}" class="btn btn-info">Editar</a>
                            <a href="/sala/eliminar/{{sala.id_sala}}" class="btn btn-danger">Eliminar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            
            <table class="table">
                <h2>TODAS LAS SALAS</h2>
                <thead class="tbl_header">
                    
                    <td>SALA</td>
                    <td>DESCRIPCIÓN</td>
                    <td>USUARIO</td>
                    <td class="opciones">OPCIONES</td>
                </thead>
                <tbody>
                    {% for sala in salas %}
                    <tr>
                        <td>{{ sala.nombre_sala }}</td>
                        <td> {{ sala.descripcion }}</td>
                        <td> {{ sala.nombre }}</td>
                        
                            <td>
                                <form class="form-signin" action="{{ url_for('chat') }}" method="POST">
                                    <input value={{ session["user.nombre"] }} type="hidden" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required
                                        ><br>
                                    <input type="hidden" value="{{ sala.nombre_sala }}" name="room" >
                                    <button class="btn btn-lg btn-primary btn-block" value="submit">Conectar a la sala</button>
                                </form>
                            </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>

        </div>
    </main>
    
</body>
</html>