__pycache__/
flask_session/
.DS_Store
.env
.flaskvenv
flaskvenv/
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
grupalVenv/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover